body {
  font-family: "" Roboto ", " Helvetica ", " Arial ", sans-serif";
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-top: 48px;
}

.header {
}
.leftBar {
}
.content {
}
